@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0; 
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    color: #f9faf8;

    display: flex;
    flex-direction: column;
     padding: 24px 200px 100px 200px;
     gap: 72px;
     
}



.navigation{
    display: flex;
    justify-content: space-between;
}

.navigation .header-logo{
    font-weight: 500;
    font-size: 24px;
}
.navigation a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;

}

.navigation .header-links{
    display: flex;
    gap: 24px;
     
}



.header-content{
    display: flex;
    gap: 24px;


}

.header-content-left{
    width: 50%;
}
.header-content-left div{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

.header-content-left p{
    color: #e5e7eb; 
}

.header-content img{
    width: 50%;
    height: 220px;
    object-fit:fill;
    border-radius: 15px;
}

.header-content button{
    background-color: #3882f6;
    color: #f9faf8;;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 15px;
    border-color: transparent;
    padding: 8px 16px;
}   

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

.four-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 88px;
    padding: 50px
     
}

.four-cards .title{
    font-size: 36px;
    font-weight: 900;
     
}

.cards-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
     
    
      
     
}


.card{
    height: auto;
    width: 200px;
    border-width: 5px;
    border-radius: 15px;
    border-color: #3882f6;
    
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;

    
}

.card img{
    object-fit:cover;
    height: 150px;
    width: 150px;
    border-radius: 15px;

    box-shadow: 0 0 5px #1f2937, 0 0 5px #7b8899, 0 0 5px #1f2937;
}

.card p{
    color: rgb(58, 56, 56);
    font-weight: 500;
    width: 150px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */


.citation-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 100px 120px 100px 350px;
    background-color: #e5e7eb;
}

.citation-block p{
    font-size: 36px;
    color: #1f2937af;
    font-style: italic;
    font-weight: 400;
    
}

.citation-block .autor-name{
    font-weight: 900;
    color: #1f2937;
    font-size: 24px;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

.call-to-action-block{
display: flex;
flex-direction: row;
justify-content: start;
padding: 100px 100px 100px 48px
}

.blue-div{
    background-color: #3882f6;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    color: #f9faf8;
    padding: 33px 133px;
}

.call-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.blue-div .call-title{
    font-size: 28px;
    font-weight: 700;
  
}

.blue-div p{
    color: #f9faf8b7;
    padding: 0;
    margin: 0;
}


.blue-div button{
    color: #f9faf8;
    border-width: 2px;
    border-color: #f9faf8;
    background-color: #3882f6;
    padding: 5px 33px;
    border-radius: 11px ;
    border-style: solid;
    font-size: 18px;
    font-weight: 600;
}

